---
import "../styles/global.css";
import QRCard from "../components/QRCard.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
	<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap" rel="stylesheet">
    <title>QR Code</title>
  </head>

  <body class="bg-slate-300 flex items-center justify-center min-h-screen">
    
    <QRCard />

  </body>
</html>