---
---

<div class="bg-white p-4 rounded-2xl shadow-lg max-w-xs mx-auto text-center">

  <img 
    src="/image-qr-code.png" 
    alt="QR Code"
    class="rounded-xl mb-4"
  />

<h1 class="text-[18px] font-bold text-slate-900 mb-2 leading-tight px-4">
  Improve your front-end skills by building projects
</h1>
 <p class="text-[15px] text-slate-500 px-6 leading-relaxed max-width:260px mx-auto">
  Scan the QR code to visit Frontend Mentor and take your coding skills to the next level
</p>
</div>